
    <form [formGroup]="react" (ngSubmit)="Onsubmit()" >
   
        <label >Firstname</label><br>
        <input class="form-control"  formControlName="Firstname" >
        <div>
            <small *ngIf="!react.get('Firstname')?.valid && !react.get('Firstname')?.touched" style="color: red;">enter name in correct format</small>
        </div>

    
 
        <label  >lastname</label><br>
        <input type="text"class="form-control"  formControlName="lastname">
        <div>
            <small *ngIf="!react.get('lastname')?.valid && !react.get('lastname')?.touched" style="color: red;">enter name in correct format</small>
        </div>
        <br>
        
        <label  >email</label><br>
        <input type="text" class="form-control"  formControlName="email">
        <br>
   
        <input type="submit">
    
    </form>
    
