<div class="container">
    <h1>User Registration</h1>
    <form #login="ngForm" (ngSubmit)="submit(login)" name="Registration">
    
        <label >Firstname</label><br>
        <input minlength="2" maxlength="10" type="text"   required #fname="ngModel"  name="firstName" ngModel>
        <div>
            <small *ngIf="fname.invalid && fname.touched" style="color: red;">enter name in correct format</small>
        </div>

    

        <label  >lastname</label><br>
        <input type="text" required ngModel name="lastName" #lname="ngModel">
        <div>
            <small *ngIf="lname.invalid && lname.touched" style="color: red;">enter lname</small>
        </div>
  
   
        <label  >email</label><br>
        <input type="text" required ngModel  name="email" #email="ngModel">
        <div>
            <small *ngIf="email.invalid && email.touched" style="color: red;">enter correct email</small>
        </div>
    
        <input type="submit">
    
    </form>
    </div>
